In [931]:
import pandas as pd
import numpy as np

In [932]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
import sklearn.decomposition as skdc
import sklearn.linear_model as sklm 
import sklearn.tree as sktree
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import sklearn.pipeline as skpl

In [933]:
data = pd.read_csv('data/Pima_Indian_diabetes.csv')

In [934]:
data.shape

(768, 9)

In [935]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,742.000000,752.000000,768.000000,746.000000,768.000000,757.000000,768.000000,749.000000,768.000000
mean,3.866601,119.966097,68.886078,20.309879,79.799479,31.711151,0.471876,33.761336,0.348958
std,3.479971,32.367659,19.427448,15.974523,115.244002,8.544789,0.331329,12.297409,0.476951
min,-5.412815,0.000000,-3.496455,-11.945520,0.000000,-16.288921,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.100000,0.243750,24.000000,0.000000
50%,3.000000,116.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.250000,36.500000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [936]:
data.isnull().sum(axis=0)

Pregnancies                 26
Glucose                     16
BloodPressure                0
SkinThickness               22
Insulin                      0
BMI                         11
DiabetesPedigreeFunction     0
Age                         19
Outcome                      0
dtype: int64

In [937]:
#data['Pregnancies']=data['Pregnancies'].fillna((data['Pregnancies'].mean()))
data['Pregnancies']=data['Pregnancies'].fillna((0))
convert_dic={'Pregnancies':int}
data=data.astype(convert_dic)
negpreg=data[data['Pregnancies']<0].index
data.drop(negpreg,inplace=True)

In [938]:
nondiabglu=data[(data['Glucose'].isnull())& (data['Outcome']==0)].index
diabglu=data[(data['Glucose'].isnull())& (data['Outcome']==1)].index

In [939]:
nondiabglu

Int64Index([273, 351, 459, 475, 496, 499, 527, 530, 608, 665, 684], dtype='int64')

In [940]:

data['Glucose'][(data['Outcome']==0)].mean()

108.83257847755935

In [941]:
data['Glucose'][(data['Outcome']==1)].mean()

140.59710872252245

In [942]:
#data.replace(negpreg,120,inplace=True)
data['Glucose'].loc[nondiabglu]=data['Glucose'][(data['Outcome']==0)].mean()
data['Glucose'].loc[diabglu]=data['Glucose'][(data['Outcome']==0)].mean()

#data=data.replace(negpreg, value = 120) data.drop('Insulin',axis=1,inplace=True)data.drop('Insulin',axis=1,inplace=True)
#data['Glucose']=data['Glucose'].fillna((data['Glucose'].mean()))

/home/akash/.local/lib/python3.6/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [943]:
data[272:274]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
272,3,122.000000,78.0,0.0,0.0,23.0,0.254,40.0,0
273,1,108.832578,78.0,50.0,45.0,33.2,0.422,21.0,0

In [944]:
data.isnull().sum(axis=0)

Pregnancies                  0
Glucose                      0
BloodPressure                0
SkinThickness               22
Insulin                      0
BMI                         11
DiabetesPedigreeFunction     0
Age                         19
Outcome                      0
dtype: int64

In [945]:
#data['SkinThickness']=data['SkinThickness'].fillna((data['SkinThickness'].mean()))

In [946]:
negbmi=data[data['BMI']<=0].index
data.drop(negbmi,inplace=True)
data['BMI']=data['BMI'].fillna((data['BMI'].mean()))

In [947]:
negbmi.shape

(14,)

In [948]:
data['Age'].mean()

33.748093292679734

In [949]:

data['Age']=data['Age'].fillna((data['Age'].mean()))

In [950]:
data.shape

(751, 9)

In [951]:
data.shape

(751, 9)

In [952]:
negage=data[data['Age']<=0].index

In [953]:
data.drop(negage,inplace=True)

In [954]:

convert_Age={'Age':int}
data=data.astype(convert_Age)

In [955]:
data.shape

(751, 9)

In [956]:
data.shape

(751, 9)

In [957]:
data.shape

(751, 9)

In [958]:
negbp=data[data['BloodPressure']<=0].index

In [959]:
data.drop(negbp,inplace=True)

In [960]:
data['Insulin']=data['Insulin'].replace(0.0,data['Insulin'].mean())

In [961]:
data.drop('SkinThickness',axis=1,inplace=True)

In [962]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 723 entries, 0 to 767
Data columns (total 8 columns):
Pregnancies                 723 non-null int64
Glucose                     723 non-null float64
BloodPressure               723 non-null float64
Insulin                     723 non-null float64
BMI                         723 non-null float64
DiabetesPedigreeFunction    723 non-null float64
Age                         723 non-null int64
Outcome                     723 non-null int64
dtypes: float64(5), int64(3)
memory usage: 50.8 KB

In [963]:
""""data.loc[data["Glucose"] == 0.0, "Glucose"] = np.NAN
data.loc[data["BloodPressure"] == 0.0, "BloodPressure"] = np.NAN
#data.loc[data["SkinThickness"] == 0.0, "SkinThickness"] = np.NAN
#data.loc[data["Insulin"] == 0.0, "Insulin"] = np.NAN
data.loc[data["BMI"] == 0.0, "BMI"] = np.NAN

data.isnull().sum()[1:6]"""

'"data.loc[data["Glucose"] == 0.0, "Glucose"] = np.NAN\ndata.loc[data["BloodPressure"] == 0.0, "BloodPressure"] = np.NAN\n#data.loc[data["SkinThickness"] == 0.0, "SkinThickness"] = np.NAN\n#data.loc[data["Insulin"] == 0.0, "Insulin"] = np.NAN\ndata.loc[data["BMI"] == 0.0, "BMI"] = np.NAN\n\ndata.isnull().sum()[1:6]'

In [964]:
data.shape

(723, 8)

In [965]:
def standardization(x): #Define function to standardize the data, since all variables are not in the same units
    xmean = np.mean(x) ##calculate mean
    sd = np.std(x) ##calculate standard deviation 
    x_z = (x - xmean) / sd ##calculate standardized value to return
    return(x_z)

In [966]:

data_stnd = data.drop(['Outcome'], 1).apply(standardization,broadcast = True) 
##drop response variable and standardize predictor variables
data_stnd.head()
X = data_stnd #store predictor variables
y = data['Outcome'] #store response variable
pca = skdc.PCA()
pcafit = pca.fit_transform(X,y)
var_explained = pca.explained_variance_ratio_ 
pca = skdc.PCA(n_components = 7) #only include first 10 components
logreg = sklm.LogisticRegression(solver='lbfgs')#empty model space
#logreg=sktree.DecisionTreeClassifier(max_depth=5)
pipeline = skpl.Pipeline([('pca', pca), ('logistic', logreg)])

/home/akash/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The broadcast argument is deprecated and will be removed in a future version. You can specify result_type='broadcast' to broadcast the result to the original dimensions
  """Entry point for launching an IPython kernel.

data=data.sample(frac=1)

In [975]:
data=data.sample(frac=1)

In [976]:
dfTrain = data[:575]
dfTest = data[576:]

In [977]:
trainLabel = np.asarray(dfTrain['Outcome'])
trainData = np.asarray(dfTrain.drop('Outcome',1))
testLabel = np.asarray(dfTest['Outcome'])
testData = np.asarray(dfTest.drop('Outcome',1))

In [978]:
#normalisation
""""means = np.mean(trainData, axis=0)
stds = np.std(trainData, axis=0)
trainData = (trainData - means)/stds
testData = (testData - means)/stds"""

'"means = np.mean(trainData, axis=0)\nstds = np.std(trainData, axis=0)\ntrainData = (trainData - means)/stds\ntestData = (testData - means)/stds'

In [979]:
#diabetesCheck = LogisticRegression()
#diabetesCheck.fit(trainData, trainLabel)
pipeline.fit(trainData, trainLabel)

Pipeline(memory=None,
         steps=[('pca',
                 PCA(copy=True, iterated_power='auto', n_components=7,
                     random_state=None, svd_solver='auto', tol=0.0,
                     whiten=False)),
                ('logistic',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [980]:
kfold = KFold(n_splits=10, random_state=10) 
score = cross_val_score(pipeline, X, y, cv=kfold, scoring='accuracy').mean()

In [981]:
#accuracy = pipeline.score(testData, testLabel)
print("accuracy = ", score* 100, "%")

accuracy =  76.63051750380517 %

In [974]:
data

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
282,7,133.000000,82.471976,155.000000,32.4,0.262,57,0
29,0,79.173309,92.000000,84.089903,34.1,0.337,38,0
458,10,148.000000,84.000000,237.000000,37.6,1.001,51,1
308,0,128.000000,68.000000,180.000000,30.5,1.391,25,1
337,5,115.000000,76.000000,84.089903,31.2,0.343,44,1
...,...,...,...,...,...,...,...,...
340,1,107.605125,70.000000,105.000000,25.9,0.472,22,0
695,7,142.000000,90.000000,480.000000,30.4,0.128,43,1
638,7,56.652743,76.000000,91.000000,40.9,0.871,32,1
487,0,173.000000,78.000000,265.000000,46.5,1.159,58,0
395,2,127.000000,58.000000,275.000000,27.7,1.600,25,0